@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px); }
    50% { transform: translate(5px); }
    75% { transform: translate(-5px); }
    100% { transform: translate(0); }
  }
  
  .shake {
    animation: shake 0.5s ease forwards;
  }

  .rut-link {
    color: blue; /* Cambia el color a azul */
    text-decoration: underline; /* Subraya el texto para que parezca un enlace */
    cursor: pointer; /* Cambia el cursor al pasar el mouse, indicando que es clickable */
}

.rut-link:hover {
    color: darkblue; /* Cambia el color al pasar el mouse */
}
